.users {
    border:1px solid #333;
    width:800px;
    margin:2em auto;

}

.users ul{
    margin:0;
    padding:0;
    list-style-type: none;
}

.users ul li{
    margin: 1em 1em;
    padding:10px;
    background:#333;
    color:#fff;
}

.users ul li strong{
    display: inline-block;
    width:40px;
    padding:5px;
    background: #fff;
    color: #000;
    border-radius: 50%;
    margin-right: 2em;
}